body {
    margin: 0;
    padding: 0;
    background-color: #EBF4DD;
    color: #3B4953;
    font-size: 22px;
    font-family: "Libre Baskerville", serif;
}
.flex-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #EBF4DD;
}

.logo {
    align-self: center;
}

.nav-elements>ul {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    width: 300px;
}

.nav-elements>ul>li {
    list-style: none;
    padding: 10px;
    transition: all 0.5s ease;
}

.nav-elements>ul>li:hover{
    background-color: #5A7863;
    border-radius: 50%;
    color: #EBF4DD;
    transform: scale(1.1);
}

li> a {
    text-decoration: none;
    color: #3B4953;
    transition: all 0.5s ease;
}

li> a:hover {
    color: #EBF4DD;
    transform: scale(1.1);
}

.contact-button-box {
    align-self: center;
}

.contact-button {
    color: #3B4953;
    font-size: 22px;
    font-family: "Libre Baskerville", serif;
    background-color: #EBF4DD;
    border-color:#3B4953;
    border-radius: 15px;
    width: 150px;
    height: 55px;
    transition: all 0.5s ease;
}

.contact-button:hover {
    color:#EBF4DD;
    border: none;
    background-color: #5A7863;
    transform: scale(1.1);
}

.what-we-offer-box {
    background-color: white;
    font-weight: 900;
}

.grid-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    margin: 0px 150px;  
    text-align: center;
}

.offer-heading {
    grid-area: 1 / 1 / 2 / 6;
    text-align: center;
    color: #5A7863;
}

.box-1 , .box-2 , .box-3 , .box-4 , .box-5 {
    text-align: center;
}

.services-box h1 {
    color: #5A7863;
    margin-top: 30px;
}

.services-box-full-width-background {
    width: 100%;
    background-color: white;
}

.services-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 150px;    
}

.services-box > div {
    background-color: white;
    width: 100%;
    margin-bottom: 70px;
}

.services-box h1 {
    margin-bottom: 30px;
    margin-top: 30px;
}

.reason-1 , .reason-2 , .reason-3 {
   text-align: center;
   position: relative;
}

.textbox-1 {
    position: absolute;
    right: 690px;
}

.textbox-2 {
    position: absolute;
    left: 690px;
}

.textbox-3 {
    position: absolute;
    right: 690px;
}

.reason-1 img {
    height: 330px;
    width: 550px;
    float: right;
}

.reason-3 img {
    height: 330px;
    width: 550px;
    float: right;
}

.reason-2 img {
    height: 330px;
    width: 550px;
    float: left;
}

.reason-1 p , .reason-2 p , .reason-3 p {
    position: relative;
    top: 100px;
    font-weight: 900;
    margin: 0px;
}

.reason-1 h2 , .reason-2 h2 , .reason-3 h2 {
    margin: 0px;
    position: relative;
    top: 70px;
    color: #5A7863;
}

.span-text {
    font-family: "Acme", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 26px;
    color: #5A7863;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    font-size: 18px;
    background-color: #EBF4DD;
}

.footer p{
    margin: 0px;
    padding: 0px;
}

.icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-office-address {
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-socials {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 80px
}