body {
    padding: 0;
    margin: 0;
    background-color:#EBF4DD;
    color: #3B4953;
    font-size: 22px;
    font-family: "Libre Baskerville", serif;
}

.flex-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #EBF4DD;
}

.logo {
    align-self: center;
}

.nav-elements {
    align-self: center;
    justify-self: center;
}

.nav-elements>ul {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    width: 300px;
}

.nav-elements>ul>li {
    list-style: none;
    padding: 10px;
    transition: all 0.5s ease;
}

.nav-elements>ul>li:hover{
    background-color: #5A7863;
    border-radius: 50%;
    color: #EBF4DD;
    transform: scale(1.1);
}

li> a {
    text-decoration: none;
    color: #3B4953;
    transition: all 0.5s ease;
}

li> a:hover {
    color: #EBF4DD;
    transform: scale(1.1);
}

.contact-button-box {
    align-self: center;
}

.contact-button {
    color: #3B4953;
    font-size: 22px;
    font-family: "Libre Baskerville", serif;
    background-color: #EBF4DD;
    border-color:#3B4953;
    border-radius: 15px;
    width: 150px;
    height: 55px;
    transition: all 0.5s ease;
}

.contact-button:hover {
    color:#EBF4DD;
    border: none;
    background-color: #5A7863;
    transform: scale(1.1);
}

.hero-full-width-background {
    background-color: white;
    width: 100%;
    height: 500px;
}

.hero {
    margin: 0px 150px 0px 150px;
    height: 500px;
}

.hero-image {
    width: 550px;
    height: 500px;
    float: right;
}

.hero-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    position: relative;
    top: 120px;
}

.hero-text>h1 {
    margin: 15px 0px;
}

.hero-text>h3 {
    width: 528px;
    margin: 15px 0px;
}

.hero-text>h1 {
    color: #5A7863;
}

.span-text {
    font-family: "Acme", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    color: #5A7863;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    font-size: 18px;
    background-color: #EBF4DD;
}

.footer p{
    margin: 0px;
    padding: 0px;
}

.icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-office-address {
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-socials {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 80px
}
